langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters

faiss-cpu

sentence-transformers
transformers
torch

pypdf
docx2txt
python-docx
unstructured

fastapi
uvicorn
python-multipart

pydantic
pydantic-settings
torchvision
streamlit
requests

python-dotenv
tenacity
loguru

pytest
pytest-asyncio
httpx
